{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-5">
        <h1 class="fw-bold">
            Learning Resources
        </h1>

        <p>
            Explore useful resources for different technologies.
        </p>
    </div>
</div>
<div class="row justify-content-center">  
    <div class="col-md-4 mb-4"> <!--Python card-->
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                
                <h3>🐍 Python</h3>

                <p>
                    Learn Python from beginner to advanced.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/python/python-programming-language-tutorial/"
                  target="_blank"
                  class="btn btn-primary">
                
                     Start Learning 
                </a>
            </div>
        </div>
     </div>
          
     <div class="col-md-4 mb-4"> <!--SQL card-->
                <div class="card shadow h-100 resources-card">
                    <div class="card-body">
                      <h3>🗄 SQL</h3>
                    
                      <p>
                        Learn SQL from beginner to advanced.
                      </p>

                      <a 
                        href="https://www.geeksforgeeks.org/sql/30-days-of-sql-from-basic-to-advanced-level/"
                        target="_blank"
                        class="btn btn-primary">
                    
                        Start Learning
                    </a>
                </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>🎯 Django</h3>

                <p>
                    Learn Django from beginner to advanced.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/python/django-tutorial/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>🤖 Machine Learning</h3>

                <p>
                    Learn Machine Learning from beginner to advanced.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/machine-learning/machine-learning/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>📊 PowerBI</h3>

                <p>
                    Learn PowerBI from beginner to advanced.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/power-bi/power-bi-tutorial/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>🌐 HTML</h3>

                <p>
                    Learn HTML from beginner to advanced.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/html/html-tutorial/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>🎨 CSS</h3>

                <p>
                    Learn CSS from beginner to advanced.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/css/css-tutorial/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>⚡ JavaScript</h3>

                <p>
                    Learn JavaScript from beginner to advanced.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/javascript/javascript-tutorial/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>🅱 BootStrap</h3>

                <p>
                    Learn BootStrap from beginner to advanced.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/bootstrap/bootstrap-tutorial/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>🍶 Flask</h3>

                <p>
                    Learn Flask from beginner to advanced.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/python/flask-tutorial/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>🐙 Git & Github</h3>

                <p>
                    Learn Git and Github commands and concepts.
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/blogs/ultimate-guide-git-github/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card shadow h-100 resources-card">
            <div class="card-body">
                <h3>🧠 Deep Learning</h3>

                <p>
                    Learn Deep Learning 
                </p>

                <a 
                  href="https://www.geeksforgeeks.org/deep-learning/deep-learning-tutorial/"
                  target="_blank"
                  class="btn btn-primary">
                
                  Start Learning
                
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}