{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="text-center mb-5">

        <h1 class="fw-bold">

            Career Roadmaps

        </h1>

        <p class="text-muted mt-3">

            Explore different technology career paths.

        </p>

    </div>

    <div class="row">

        <div class="col-md-6 mb-4">

            <div class="card roadmap-card shadow h-100">

                <div class="card-body">

                    <h3 class="fw-bold">

                        Full Stack Developer

                    </h3>

                    <hr>

                    <ul>

                        <li>HTML</li>

                        <li>CSS</li>

                        <li>Bootstrap</li>

                        <li>JavaScript</li>

                        <li>Python</li>

                        <li>Django</li>

                        <li>SQL</li>

                    </ul>

                </div>

            </div>

        </div>

        <div class="col-md-6 mb-4">

            <div class="card roadmap-card shadow h-100">

                <div class="card-body">

                    <h3 class="fw-bold">

                        Data Scientist

                    </h3>

                    <hr>

                    <ul>

                        <li>Python</li>

                        <li>Pandas</li>

                        <li>NumPy</li>

                        <li>Machine Learning</li>

                        <li>Data Visualization</li>

                        <li>SQL</li>

                        <li>Statistics</li>

                    </ul>

                </div>

            </div>

        </div>

        <div class="col-md-6 mb-4">

            <div class="card roadmap-card shadow h-100">

                <div class="card-body">

                    <h3 class="fw-bold">

                        Python Developer

                    </h3>

                    <hr>

                    <ul>

                        <li>Core Python</li>

                        <li>OOPs</li>

                        <li>File Handling</li>

                        <li>APIs</li>

                        <li>Django/Flask</li>

                        <li>SQL</li>

                    </ul>

                </div>

            </div>

        </div>

        <div class="col-md-6 mb-4">

            <div class="card roadmap-card shadow h-100">

                <div class="card-body">

                    <h3 class="fw-bold">

                        AI/ML Engineer

                    </h3>

                    <hr>

                    <ul>

                        <li>Python</li>

                        <li>Machine Learning</li>

                        <li>Deep Learning</li>

                        <li>NLP</li>

                        <li>TensorFlow</li>

                        <li>Data Preprocessing</li>

                    </ul>

                </div>

            </div>

        </div>

        <div class="col-md-6 mb-4">

            <div class="card roadmap-card shadow h-100">

                <div class="card-body">

                    <h3 class="fw-bold">

                       Software Developer

                    </h3>

                    <hr>

                    <ul>

                        <li>Python</li>

                        <li>Data Structures and Algorithms</li>

                        <li>Git and Github</li>

                        <li>HTML</li>

                        <li>CSS</li>

                        <li>JavaScript</li>

                        <li>ReactJS</li>

                        <li>Node.js</li>

                        <li>RestAPI</li>

                        <li>SQL for relational databases</li>

                        <li>NoSQL for non-relational databases</li>

                        <li>AWS</li>

                    </ul>

                </div>

            </div>

        </div>

           <div class="col-md-6 mb-4">
                <div class="card roadmap-card shadow h-100">
                    <div class="card-body">
                        <h3 class="fw-bold">
                            Software Engineer
                        </h3>
                        
                        <hr>

                        <ul>
                            <li>Python</li>
                            <li>Git & Github</li>
                            <li>Data Structures and Algorithms</li>
                            <li>SQL / NoSQL</li>
                            <li>RestAPIs</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>Django</li>
                            <li>AWS</li>
                        </ul>

                    </div>
                </div>
           </div>

              <div class="col-md-6 mb-4">
                <div class="card roadmap-card shadow h-100">
                    <div class="card-body">
                        <h3 class="fw-bold">
                            
                            PowerBI Developer
                        
                        </h3>

                        <hr>

                        <ul>
                            <li>SQL</li>
                            <li>Data Warehousing</li>
                            <li>Excel</li>
                            <li>Data Extraction</li>
                            <li>Power Query Editor</li>
                            <li>Data Modeling</li>
                            <li>DAX Basics</li>
                            <li>DAX Functions</li>
                            <li>Core Charts</li>
                            <li>Advanced Visuals</li>
                            <li>Formatting & Storytelling</li>
                            <li>Git</li>
                        </ul>
                    </div>
                </div>
              </div>

            <div class="col-md-6 mb-4">
                <div class="card roadmap-card shadow h-100">
                    <div class="card-body">
                        <h3 class="fw-bold">

                            Data Analyst

                        </h3>

                        <hr>

                        <ul>
                            <li>Excel</li>
                            <li>SQL</li>
                            <li>Python</li>
                            <li>PowerBI</li>
                            <li>Tableau</li>
                            <li>NumPy</li>
                            <li>Pandas</li>
                            <li>Matplotlib</li>
                            <li>Seaborn</li>
                        </ul>
                    </div>
                </div>
            </div>
           </div>

    </div>

</div>

{% endblock %}